<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ng.apmis.audreymumplus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/audrey_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/audrey_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignupActivity"
            android:theme="@style/SignupTheme"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.Dashboard.DashboardActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ForgotPasswordActivity"
            android:theme="@style/SignupTheme"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".LoginActivity"
            android:theme="@style/SignupTheme"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity android:name=".WelcomeActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".ui.onboarding.OnboardingActivity"
            android:configChanges="orientation|screenSize"/>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <service
            android:name=".data.DatabaseFirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
        <service android:name=".data.network.ChatSocketService" />
        <receiver android:name=".utils.AlarmBroadcast"/>
    </application>

</manifest>